html {
    height: 100%;
}

#graphview {
    display: block;
    position: fixed;
    left: 380px;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#graphview svg {
    width: 100%;
    height: 100%;
}

#thebox {
    left: 5px;
    top: 5px;
    display: block;
    position: absolute;
    width: 380px;
    bottom: 0px;
}