html {
    height: 100%;
}

#right-pane {
    display: block;
    position: absolute;
    left: 481px;
    top: 0;
    overflow: auto;
    bottom: 0;
    right: 0;
}

#right-pane .nav-tabs {
    z-index: 9999;
    position: relative;
}

#graphview {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#thebox {
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    width: 480px;
    bottom: 0px;
}

.nav-tabs .active {
    background-color: tomato;
}

#thebox .tab-content {
    max-height: 300px;
    overflow: scroll;
}

.popover {
    min-width: 600px !important;
}

.tgl {
    cursor: pointer;
}

span.terminal-cursor {
    border-left-color: #04663e;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: -2px;
}

div.terminal {
    font-family: Inconsolata, 'DejaVu Sans Mono', monospace;
    padding: 10px;
}

.modal-dialog.modal-large {
    width: 900px;
}

#actor-fsm {
    height: 400px;
}

.actor-tree {
    padding: 10px;
}

.actor-tree .list-group {
    margin-bottom: 0;
}

.actor-tree .list-group-item {
    border: 1px solid #ddd
    height: 24px;
    line-height: 24px;
}

.actor-tree i.material-icons {
    vertical-align: middle;
    min-width: 25px;
}