html {
    height: 100%;
}

#graphview {
    display: block;
    position: fixed;
    left: 481px;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#graphview svg {
    width: 100%;
    height: 100%;
}

#thebox {
    left: 5px;
    top: 5px;
    display: block;
    position: absolute;
    width: 480px;
    bottom: 0px;
}

#thebox .nav-tabs .active {
    background-color: tomato;

}

#thebox .tab-content {
    max-height: 300px;
    overflow: scroll;
}

.popover {
    min-width: 600px !important;
}

.tgl {
    cursor: pointer;
}

span.terminal-cursor {
    border-left-color: #04663e;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: -2px;
}

div.terminal {
    font-family: Inconsolata, 'DejaVu Sans Mono', monospace;
    padding: 10px;
}

.modal-dialog.modal-large {
    width: 900px;
}

#actor-fsm {
    height: 400px;
}