html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

#left-panel {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 480px;
    height: 100%;
}

#top-menu {
    height: 50%;
}

#bottom-menu {
    flex: 1;
}

.menu {
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

#right-pane {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

#right-pane .nav-tabs {
    z-index: 9999;
    position: relative;
}

#graphtab {
    flex: 1;
    overflow: hidden;
}

#graphview {
    width: 100vw;
    height: 100vh;
}

.nav-tabs .active {
    background-color: tomato;
}

#right-pane .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-content {
    overflow: auto;
    height: 100%;
}

.tab-content .panel {
    margin-bottom: 0;
}

.popover {
    min-width: 600px !important;
}

.tgl {
    cursor: pointer;
}

.modal-dialog.modal-large {
    width: 900px;
}

#actor-fsm {
    height: 400px;
}

.actor-tree {
    padding: 10px;
}

.actor-tree .list-group {
    margin-bottom: 0;
}

.actor-tree .list-group-item {
    border: 1px solid #ddd
    height: 24px;
    line-height: 24px;
}

.actor-tree i.material-icons {
    vertical-align: middle;
    min-width: 25px;
}

#repl-tab {
}

#repl-tab div.terminal {
    font-family: Inconsolata, 'DejaVu Sans Mono', monospace;
    padding: 10px;
}

#repl-tab div.terminal span.terminal-cursor {
    border-left-color: #04663e;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: -2px;
}